.navbar {
  background-color: rgb(15, 15, 15);
  border-bottom: 3px solid whitesmoke;
  padding-bottom: 0;
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  font-weight: 500;
}

.nav-names {
  color: whitesmoke;
}

.navbar a {
  transition: .35s;
}

.navbar a:hover {
  color: #1DA1F2;
}

